.fondo {background-color: red;}

#TITL {
   font-size: 30px;
   color: blue;
}

.Art-3 { 
   font-weight: bold;
   color: brown; }
   p {font-size: 16px;
   color: aqua;}

.Art-2 { 
   font-weight: bold;
   color: greenyellow; }
   .texto-importante { 
      font-weight: bold;
      color: green; }

   .Art-1 {background-color: rgb(19, 169, 74);}
     
 #enlace-link {
    border: 3px solid rgb(200, 25, 25);
    /* vienpor  
    width: 50vw; es = al 50% pantalla
    */
    width: 60vw;
    margin: auto;
    padding: 5em; 
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background-color: aqua;
    width: 60vw;
    margin-top: 1em;
    border: 2px solid rgb(18, 157, 35);
    border-radius: 10px;
    padding: 1em;
    display: flex;
    padding: 6px 12px 12px 12px;
    transition: 3s;
    align-items: center; };

   