<!DOCTYPE html>
<html>
<head>
    <title>Document-CSS</title>
    <link rel="stylesheet" herf="40-style.css"/>
</head>
<body>
    <h1 id="titulo"> Titulo-1</h1>
    <P class="texto">Tecto parrafo del Titulo-1</P>
    <P class="texto">Tecto parrafo del Titulo-1</P>
    
    /* 1- El Valor se lo representan los ":" 
          las propiedades se separan por ";"*/
    p {
        color: red;
        font-size: 16px;
    }
    /* 2- Las propiedades se pueden escrubir de corrido o
        una debajo de la otra */
    p {
        color: rgb(225, 29, 29); font-size: 16px;
        border: solid 1px green;
    }
    /* 3- Las propiedades representadas por numeros, 
        deve indicar en que unidad se expresa,
        Entre el numero y la unidad -no esoacios- */
    p {
        font-size: 16px;
        padding: 10%;
        width: 23em
    }
    /* 4- Color a- por nombre, b- Hexadecimal 
        c- Por rgb # de 0 a 255 */
    p {
        color: red;
        background-color: #FF0033;
        border-color: rgb(225, 29, 29);
    }
    /* 5- Si se necesita aplicar el mismo formato a 
        Elementos diferentes solo se separan por comas ",",, */
    #elemento1, .grupo1, p {
        color: red;
        padding: 10%;
        border: solid 2em #33FF44;
    }
    /* comentario ignorado por css */
    .rojo {
        color: red;
    }
    .azul {
        color: blue;
    }

</body>
</html>

